/*
https://www.freecodecamp.org/news/css-selectors-cheat-sheet/
https://www.w3schools.com/cssref/css_selectors.php
https://www.sliderrevolution.com/resources/slide-menu/
*/

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin-top: 10%;
  width: 90%;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  /* margin-bottom: 90px; */
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  z-index: 99;
}

div {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2rem; */
  border: 0px solid green;
}

legend {
  font-size: large;
  margin-bottom: 1rem;
}

#gear {
  padding-right: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  /* margin-top: 2%; */
  width: 10%;
  /* height: 2rem; */
  /* background-color: lightgray; */
  /* border-radius: 50%; */
  /* border: 0px solid #ccc; */
  /* float: right; */
  /* font-size: 2rem; */
  /* color: black; */
}
#gear:hover {
  /* font-weight: bolder; */
  background-color: lightgreen;
}

#generate {
  padding-left: 0.5rem;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 10%;
}

/* .btn-container {
  width: 2rem;
  height: 2rem;
}
.btn-contained:hover {
  font-weight: bolder;
  background-color: lightgreen;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
} */

.btn {
  width: 2rem;
  height: 2rem;
  background-color: rgb(238, 236, 236);
  padding: 1rem;
  border-radius: 15%;
}
.btn:hover {
  font-weight: bolder;
  background-color: lightgrey;
  transition: all 0.5s ease-in-out;
  /* border-radius: 50%; */
}

#help,
#demo,
#share,
#save,
#info {
  /* border-radius: 50%; */
  margin: 1rem;
  border: 0px solid black;
  /* border-radius: 15px; */
}

.grow {
  transition: all 0.9s ease-in-out;
  transform: scale(2);
}

.shrink {
  transition: all 0.9s ease-in-out;
  transform: scale(0.5);
}

.grow:click {
  transform: scale(1.5);
}

form {
  display: flex;
  flex-direction: row column;
  border: 0px solid blue;
  padding: 0px;
  margin: 0rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#hintContainer {
  /* position: absolute; */
  top: 10%;
  z-index: 999;
  margin-top: -4rem;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#hintForm {
  width: 90%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-width: 1rem;
  min-height: 4rem;
  /* background: rgba(128, 128, 128, 1); */
  background: transparent;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background: transparent;
  /* background: rgba(255, 255, 255, 1); */
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.5rem;
}

#menu-parent {
  width: 90%;
  height: 90%;
  position: absolute;
}

#menu,
#adunit {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  right: 10%;
  bottom: 40%;
  display: block;
  /* justify-content: space-around; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  /* position: flex;
  width: 100%;
  height: 100%; */
  background-color: white;
  transition: transform 0.4s ease-out;
}
/* .slide-in {
  transform: translateY(200%);
} */
#adunit {
  z-index: -9;
  /* left: 5%;
  right: 5%;
  width: 90%; */
  /* right: 20%; */
  background-color: pink;
  background-image: linear-gradient(to right, lightgrey, white, lightgrey);
  /* background: rgba(255, 255, 255, 1); */
}
#menu {
  z-index: +9;
  background-color: white;
  /* background-color: transparent; */
}
#settings {
  margin: 0 auto;
  width: 100%;
}

#saveDiv {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
}

/* #save,
#demo {
  margin: 1rem;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: transparent;
} */
#more {
  background-color: transparent;
}

/* #cleanBtn */
#pepperBtn,
#saltBtn,
#lengthBtn {
  border: 0px solid red;
  border-style: solid solid solid none;
}

input {
  position: relative;
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 16px;
  float: right;
}

#hint {
  border: none;
}

label {
  color: grey;
  position: absolute;
  left: 15%;
  top: 25%;
  transform: translateY(-50%);
}

.input-container .leading-icon,
.input-container .trailing-icon {
  position: absolute;
  top: 10%;
  color: #888;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: transparent;
}

.input-container {
  align-items: center;
  display: block;
  position: relative;
  width: 100%;
  float: right;
  /* margin-bottom: 5%;
  margin-top: 0%;
  margin-right: 1%;
  margin-left: 1%; */
  margin: 0 auto;
}

.leading-icon {
  left: 0rem;
  /* min-width: 64px;
  width: 20%;
  background-color: pink; */
}

.trailing-icon {
  right: 1rem;
  border-radius: 50%;
}
.trailing-icon:hover {
  font-weight: bolder;
  background-color: lightgray;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 0%;
  left: 2rem;
  font-size: 1rem;
  color: grey;
  background-color: white;
}

.input-container .helper-text {
  font-size: 0.75rem;
  float: left;
  color: gray;
  margin-left: 0rem;
  margin-top: 0rem;
  background-color: transparent;
  width: 100%;
}

.input-container .error-text {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: #a6e882;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#versionContainer {
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  /* align-items: center; */
  vertical-align: middle;
}

#logo,
#version {
  margin: 0 auto;
}

/* #version {
  font-size: 0.8rem;
  color: gray;
} */
