/*
https://www.freecodecamp.org/news/css-selectors-cheat-sheet/
https://www.w3schools.com/cssref/css_selectors.php
https://www.sliderrevolution.com/resources/slide-menu/
*/

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin-top: 10%;
  width: 90%;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div {
  display: block;
}

.gear {
  background-color: transparent;
  border: 0px solid #ccc;
  float: right;
  font-size: 2rem;
  color: grey;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 0px solid green;
}

legend {
  font-size: large;
  margin-bottom: 1rem;
}

#generate.active {
  /* #generate { */
  font-size: 64px;
  border: none;
  transform: scale(1.5);
  transition: all 1s ease;
}

.grow {
  transition: all 0.9s ease-in-out;
  transform: scale(2);
}

.shrink {
  transition: all 0.9s ease-in-out;
  transform: scale(0.5);
}

.grow:click {
  transform: scale(1.5);
}

form {
  display: flex;
  flex-direction: row column;
  border: 0px solid blue;
  padding: 0px;
  margin: 0rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#hintContainer {
  margin-top: -3rem;
}

#hintForm {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-width: 1rem;
  min-height: 4rem;
}

input {
  background: transparent;
  width: 100%;
  border: none;
  text-align: center;
  font-size: x-large;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
}

#sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: lightgrey;
  z-index: 98;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  padding: 10px;
  margin: 0;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:hover {
  /* color: #ccc; */
  color: red;
}

.round-button {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #555777;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: bold;
}
.round-button:hover {
  background: #777555;
}

.circle-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: none;
  border: 2px solid black;
  display: flex;
  cursor: pointer;
  /* color: red; */
  font-size: 2rem;
  vertical-align: middle;
  text-align: center;
  transition: all 0s ease;
  /* padding: 0.4rem 2.4rem; */
}

.page-break {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu {
  display: inline-block;
  /* flex-direction: column; */
  justify-content: space-around;
  margin-top: 10%;
  position: flex;
  /* bottom: -50%; Start the menu below the viewport */
  /* left: 0; */
  width: 100%;
  /* height: 90%; */
  background-color: white;
  transition: transform 0.3s ease-out; /* Add transition effect */
}
.slide-in {
  transform: translateY(150%);
  /* Slide the menu up to the bottom of the viewport */
}

#saveDiv {
  /* display: block; */
  justify-content: space-around;
  /* width: 100%; */
}

#save,
#demo,
#reset {
  flex: 1;
  margin: 0 0px;
  border-radius: 15px;
  border: 1px solid grey;
  /* border-right: 1px solid black; */
  background-color: transparent; /* yellow; */
  font-size: large;
}
#more {
  font-size: xx-large;
  background-color: transparent;
  border: none;
}

/* .button-container button {
  flex: 1;
  margin: 0 5px;
  border-right: 10px solid #000;
}
.button-container button:last-child {
  border-right: none;
} */

#pepperBtn,
#saltBtn,
#lengthBtn,
#cleanBtn {
  border: 0px solid red;
  border-style: solid solid solid none;
}

#more,
#saveDiv {
  margin: 1rem;
  text-decoration: none;
}

a {
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 0rem;
}

/* #more { */
/* height: 18%; */
/* background-image: radial-gradient(#00cc44, #009933); */
/* background-image: radial-gradient(white, grey); */
/* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
background-image: linear-gradient(to right, lightblue, white, lightblue);
/* } */

#save,
#demo,
#reset {
  /* float: right; */
  margin: 1rem;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 15px;
  /* background-image: linear-gradient(to right, lightblue, white, lightblue); */
}

.input-container {
  align-items: center;
  display: block;
  position: relative;
  width: 100%;
  float: right;
  margin-bottom: 5%;
  margin-top: 0%;
  margin-right: 1%;
  margin-left: 1%;
}

input {
  position: relative;
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 16px;
  /* font-size: 1.5rem; */
  float: right;
}

#hint {
  border: none;
}

label {
  /* vertical-align: middle; */
  /* text-align: center; */
  /* float: left; */
  /* width: 50%; */
  color: grey;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.input-container .leading-icon,
.input-container .trailing-icon {
  position: absolute;
  top: 15%;
  /* transform: translateY(-50%); */
  color: #888;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: transparent;
}

/* .input-container .leading-icon { */
.leading-icon {
  left: 0rem;
}

.trailing-icon {
  right: 1rem;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 0%;
  left: 2rem;
  font-size: 1rem;
  color: grey;
  background-color: white;
}

.input-container .helper-text {
  font-size: 0.75rem;
  float: left;
  color: gray;
  margin-left: 0rem;
  margin-top: 0rem;
  background-color: transparent;
  width: 100%;
}

/* .helper-text {
  font-size: 0.25rem;
  float: left;
  color: lightgray;
  margin-left: 0rem;
  margin-top: 0rem;
  background-color: transparent;
} */

.input-container .error-text {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

/* 2023-05-31: 14:04 */

.wrapper {
  position: relative;
  display: inline-block;
}
.close:before {
  content: "✕";
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* 2023-05-31: 17:18 */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a6e882;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popupMessage {
  font-size: 1rem;
}
