/*
https://www.freecodecamp.org/news/css-selectors-cheat-sheet/
https://www.w3schools.com/cssref/css_selectors.php
*/

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

* {font-size: 32px !important;}

body {
  background-color: rgb(224, 192, 144);
  margin-top: 6%;
  margin-left: 10%;
  width: 80%;
  display: block;
  align-items: center;
  justify-content: center;
}

#help {
  border-radius: 0px;
  border-top-left-radius: 10px;
}
#hide {
  /* font-size: 20px; */
  border-left-width: 1px;
  border-right-width: 1px;
  border-right-color: grey;
  border-left-color: grey;
}
#info {
  border-radius: 0px;
  border-top-right-radius: 10px;
}
#hint {
  background-color: lightblue;
}
#generate {
  background-color: green;
  color: white;
}
#generate:hover {
  background-color: darkgreen;
  color: rgb(233, 249, 13);
  transition-duration: 0.5s;
  transition-property: color, background-color;
}

#demo {
  border-left-width: 1px;
  border-right-width: 1px;
  border-right-color: grey;
  border-left-color: grey;
}

#passwords {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

button {
  margin: 0 auto;
  display: block;
}

.scroll {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  height: 64px;
  white-space: pre;
  background-color: coral;
  border: 0px solid;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* display/flex bit sets up the horizontal layout */
/* border bit draws the box around it */
/* I've used padding so you can see the edges of the elements. */
form {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 0px;
  margin: 0rem;
}

/* Tell the input to use all the available space */
/* And hide the input's outline, so the form looks like the outline */
input {
  /* flex-grow: 1; */
  width: 100%;
  border: none;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
form:focus-within {
  outline: 1px solid blue;
}

button {
  border: 0px solid rgb(62, 62, 222);
  background: rgb(73, 73, 166);
  color: white;
  width: 20%;
  min-height: 2rem;
}

/* border-radius: 10000px; */
.btn {
  background-color: rgb(10, 172, 10);
  border: 0px solid blue;
  border-color: none;
  color: black;
  /* font-size: 18px; */
  width: 100%;
  height: auto;
  min-height: 2rem;
}
.btn:hover {
  background-color: darkgreen;
  color: white;
  transition-duration: 1s;
  transition-property: background-color;
}
.rounded-bottom {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

div {
  /* background-color: rgb(225, 64, 120); */
  background-color: lightgreen;
  border-radius: 32px / 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0rem;
  margin-left: 0;
  margin-right: auto;
}

/* Optional button styling */
.rowbutton {
  background-color: lightgreen;
  /* border: none; */
  /* border-radius: 16px / 16px; */
  color: black;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 0px; /* Remove the margin between buttons */
  width: 99%;
  min-height: 2rem;
  cursor: pointer;
}
.rowbutton:hover {
  background-color: green;
  color: darkblue;
  transition-duration: 0.5s;
  transition-property: background-color;
}

