body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(195, 223, 238);
  width: 95%;
  margin-left: 2%;
  margin-top: 10%;
  /* margin-right: 9%; */
}

.banner {
  display: block;
  /* display: flex; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  min-height: 32px;
  background-color: #f1f1f1;
  /* padding: 20px; */
  padding: 3% 0;
  /* margin-bottom: 90px; */
  /* align-items: center;
  text-align: center;
  vertical-align: middle; */
  text-decoration: none;
  font-size: 2rem;
  z-index: 99;
}

.center {
  border: 0px solid;
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.container {
  width: 100%;
  /* min-height: 100vh; */
  background: transparent;
  /* display: flex; */
  display: inline;
  /* justify-content: center; */
  align-items: center;
}

.btn {
  width: 2rem;
  height: 2rem;
}
.hbtn {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.svg-bullets li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.svg-bullets li img {
  margin-right: 10px;
  width: 1.5rem;
  height: 1.5rem;
}
