body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(195, 223, 238);
  width: 95%;
  margin-left: 2%;
  margin-top: 10%;
  /* margin-right: 9%; */
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  /* margin-bottom: 90px; */
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  z-index: 99;
  /* display: block; */
}

.center {
  border: 1px solid;
  display: block;
  height: 100%;
  align-items: center;
}

.container {
  width: 100%;
  /* min-height: 100vh; */
  background: transparent;
  /* display: flex; */
  display: inline;
  /* justify-content: center; */
  align-items: center;
}
